body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;  
    
}

h1 {
    color: #3797a4;
    font-size: 4.5rem;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    margin-top: 50px auto 10px auto;
      
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #f76b8a;
    font-family: 'Montserrat', sans-serif;
}

.yläsivu {
    background-color: #8bcdcd;
    border: 10px;
    padding-top: 100px;
    position: relative;
    font-style: italic;
    color: #3797a4;
    line-height: 2;
    
}

.keskisivu {
    background-color: #fcfefe;
    padding-top: 100px;
    line-height: 2;
    padding-bottom: 100px;
}

.alasivu {
    background-color: #66bfbf;
    color: #3a3d3d;
    height: 80px;
    padding-top: 100px;
    padding-bottom: 50px;
    
}

.alapilvi {
    position: relative;
    left: 200px;
    top: 150px;
    
}

.yläpilvi {
    position: relative;
    right: 200px; 
    top: 50px;
}

.aboutme {
    width: 50%;
    margin: auto;
    line-height: 2;
    text-align: center;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto; 
    text-align: left;
    line-height: 2;
    margin: 100px auto 100px auto; 
}

.nainen {
    width: 30%;
    float: right;
    margin-left: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
        
}

.läppäri {
    width: 25%;
    float: right; 
    margin-left: 30px;
    
}

.aivot {
    width: 25%;
    float: left; 
    margin-right: 30px;
}

.btn {
    color: #f76b8a;
    font-weight: bold;
}

.contact-me {
    margin: 50px auto 50px auto; 

}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 10px;
    width: 5%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #30e3cb);
    background-image: -moz-linear-gradient(top, #30e3cb, #30e3cb);
    background-image: -ms-linear-gradient(top, #30e3cb, #30e3cb);
    background-image: -o-linear-gradient(top, #30e3cb, #30e3cb);
    background-image: linear-gradient(to bottom, #30e3cb, #30e3cb);
    text-decoration: none;
  }

.topnav {
    /* background-color: #eaf6f6; */
    background-color: #8bcdcd;
    overflow: hidden;
}
  
.topnav a {
    float: center;
    color: #3a7a7a;
    text-align: center;
    padding: 50px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

.calc {
    line-height: 200%;
}
  

.topnav a:hover {
    color: #f76b8a;
}
  
.link {
    text-decoration: none;
    color: #3a7a7a;
}

.vuori {
    width: 30%;
    padding: ;
}